
<% @applications.each do |application| %>
<h1> <%= "#{application.name} Application" %> </h1>

Address: <%= application.address %><br>
City: <%= application.city %><br>
State: <%= application.state %><br>
Zip: <%= application.zip %><br>
Description: <%= application.description %>
Status: <%= application.status %>
<a href="/applications/<%= application.id %>/edit">Update Application</a>
<%= button_to "Delete Application", "/applications/#{application.id}", method: :delete %>
<% end %>
