  <table>
    <tr>
      <th>Street Address: </th>
      <th>          City: </th>
      <th>         State: </th>
      <th>           Zip: </th>
      <th>        Status: </th>
   </tr>
   <tr>
      <td><%= @application.address %></td>
      <td><%= @application.city    %></td>
      <td><%= @application.state   %></td>
      <td><%= @application.zip     %></td>
      <td class="status"><%= @application.status  %></td>
    </tr>
  </table>
