<table>
  <tr>
    <th>           Name: </th>
    <th>    Description: </th>
    <th>     Approx Age: </th>
    <th>            Sex: </th>
    <th>Adoption Status: </th>
    <th>Belong's to Shelter: </th>

  </tr>
  <tr>
    <td><%= button_to "#{@pet.name}", "/pets/#{@pet.id}", method: :get%></td>
    <td><%= @pet.description     %></td>
    <td><%= @pet.approximate_age %></td>
    <td><%= @pet.sex.capitalize  %></td>
    <td class="status"><%= @pet.adoptable?      %></td>
    <td><%= link_to "#{@pet.shelter.name}", "shelters/#{@pet.shelter.id}" %></td>
    <td>
      <%= button_to "Update Pet", "/pets/#{@pet.id}/edit", method: :get %>
      <%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
    </td>
  </tr>
</table>
