<%= button_to "Delete Application", "/applications/#{@application.id}", method: :delete%>
<header class="header-link"> Admin's  <%= "#{@application.name}'s Application" %> </header>


<%= render 'shared/app_address' %>

Description:<br>
<%= @application.description %>

<header class="header-link"> Pets: </header>
<% @application.pet_applications.each do |pet_app| %>
  <% @pet = pet_app.pet %>
  <% @pet_app = pet_app %>
  <% if pet_app.pet.adoptable == false%>
    <div class="approved">
      <p class="approved_text">Has been approved </p>
      <%= render "shared/pets_table" %>
    </div>
  <% else%>
    <%= render pet_app.approved %>
  <% end %>
<% end %>
