<h1><%= @shelter.first.name%>'s Shelter </h1>

  <p>Address: <%= @shelter.first.address %></p>
  <p>City: <%= @shelter.first.city %></p>
  <p>State: <%= @shelter.first.state %></p>
  <p>Zip: <%= @shelter.first.zip %></p>
