<%= render "shared/shelter_table" %>

  <% @shelter.action_pets.each do |pet| %>
    <% pet.pet_applications.each do |pet_app| %>
      <% if pet_app.application.status == "Pending" %>
      <div class="box">
      <h2 class="header-link">Action Required!</h2>
      <%= link_to "Application #{pet_app.application_id}", "/admin/applications/#{pet_app.application_id}" %>
    </div>
      <% end %>
    <% end %><br>
  <% end %>

<section>
<h2> Statistics: </h2>
<table>
  <tr>
<th>Average Pet Age: </th>
<th>Adoptable Pets:</th>
<th>Adopted Pets: </th>
 </tr>
 <tr>
   <td><%= @shelter.average_pet_age %></td>
   <td><%= @shelter.adoptable_pets %></td>
   <td><%= @shelter.adopted_pets %></td>
   </tr>
</table>
</section>
